---
    //impoty 
    import Nfts from './nfts.astro'
  
    const nfts = [
         {
            id:3,
            img:"shirtless.svg"
        },
        {
            id:1,
            img:"smoky.svg"
        },
         {
            id:2,
            img:"smile.svg"
        },
         
        

    ]

    //showcase NFTs
    const showCase = [
        //list out NFTs in arrays 
        {
            id:1,
            img:"white.svg",
            name:"white Smokey",
            profile:"white",
            price:10
        },
        {
            id:1,
            img:"smok1.svg",
            name:"white Smokey",
            profile:"white",
            price:10
        },
        {
            id:1,
            img:"smok2.svg",
            name:"white Smokey",
            profile:"white",
             price:10
        },
        ,
        {
            id:1,
            img:"smok2.svg",
            name:"white Smokey",
            profile:"white",
             price:10
        }


    ]
---
<html>
    <header>

        <style>
        
           
        
        
            .nft-lanes {
                display: flex;
                margin-top: 5em;
                justify-content: center;
            }
        </style>


    </header>
    <body>
        <!--header part-->
        <div class="section-content mt-5">
            
            <div class="container">
            
                    <center>
                    <h2 class="title">
                        See Amazing NFTs
                    </h2>
                </center>

                <div class="nft-lanes mt-5">

                    {
                       nfts.map( nft => (
                        
                             <img src={`../../public/assets/images/${nft.img}`}/>
                        
                       ))
                    }

                </div>

                <!--section section-->
                <section class="others mt-4 container">
                    <center>
                         <h2 class="title">
                           See Amazing NFTs
                         </h2>
                    </center>


                    <!--nft cards -->

                    <div class="flex">
                        
                        {
                            // now map through NFts list 
                            showCase.map( (nft, id) => {
                                    const {name, img, profile, price} =nft;
                                return (
                                        <Nfts
                                            name= {name}
                                            price={price}
                                            img={`../../public/assets/images/${img}`}
                                            profile={`../../public/assets/images/${img}`}
                                        />
                                )
                            })
                        }
                       
                    </div>
                
                </section>
        

            </div>
            
        </div>
        
    </body>

</html>